.hero-container {
    width: 100%;
    height: 850px;
    --color: #E1E1E1;
    background-color: #fffdfd;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
    }
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 100px 0 0;
}

.content h1 {
    font-size: 60px;
    font-weight: 900;
    background-image: linear-gradient(90deg, #f380d3 0%, #206df2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    line-height: normal;
}

.content p {
    color: #555;
    font-size: 20px;
}

.browseButton {
    margin-top: 50px;
    padding: 16px 14px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    background-image: linear-gradient(90deg, #f380d3 0%, #206df2 100%);
    color: #fff;
    cursor: pointer;
}

.browseButton:hover {
    background-image: linear-gradient(90deg, #206df2 0%, #f380d3 100%);
}


.imageContainer {
    flex: 1;
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 75px;
}

@media (min-width: 768px) {
    .imageContainer {
        height: auto;
    }
}