.comment-card {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 25px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 10px 0;
}

.form-box {
    margin-bottom: 20px;
}

.form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

textarea {
    flex: 10;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    outline: none;
    transition: border-color 0.3s;
}

textarea:focus {
    border-color: #007bff;
}

.comment-btn {
    flex: 1;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment-btn:hover {
    background-color: #0056b3;
}

.emoji-picker-container {
    position: relative;
}

.emoji-btn {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 3px 4px;
    cursor: pointer;
    font-size: 30px;
}

.emoji-picker {
    position: absolute;
    bottom: 60px;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comments {
    margin-top: 20px;
}

.comment-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin-bottom: 20px;
}

.user-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-details .box-1 {
    display: flex;
    align-items: center;
}

.com-del-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.com-del-btn:hover {
    background-color: #c82333;
}

.user-pic img {
    flex: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    color: #333;
}

.post-date {
    font-size: 13px;
    color: #777;
    margin-top: 0;
}

.comment-content {
    font-size: 16px;
    color: #555;
}
