.like-button {
    background: none;
    border: none;
    box-shadow: #c3c3c3 0px 0px 0px 1px;
    padding: 4px 6px;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

.like-button.liked {
    color: red;
    box-shadow: rgba(255, 25, 83, 0.5) 0px 0px 0px 2px;
}

.like-button svg {
    transition: transform 0.3s ease;
}

.like-button:hover svg {
    transform: scale(1.2);
}